@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.start-btn {
    color: rgb(46, 45, 45);
    background-color: aqua;
    border: 1px solid aqua;
    width: 190px;
    text-align: center;
    border-radius: 9px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home {
    height: calc(100vh);
}
nav {
    z-index: 1;
    position: fixed;
}

.triangle {
    z-index: 999;
}

.robot {
    z-index: 1000;
}

.font-outline-2 {
    -webkit-text-stroke: 1px #146C94;
    color: transparent;
    font-weight: 800;
  }

html, body, #root {
    background-color: #1A1B1F;
    height: 100%;
    width: 100%;
}

.login-input {
    border-radius: 2px;
    border-bottom: 1px solid #146C94;
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.00) 0%, #131313 100%);
    height: 70px;
    padding-left: 10px;
    margin-top: 10px;
    max-width: 90%;
}

.login-input:focus {

    border-bottom: 1px solid #47b6e9;
}

input:focus {
    outline: 0;
}

.range-input {
    -webkit-appearance: none; /* Remove default styling on Safari */
    width: 100%;
    height: 3px;
    background-color: #2FE6DE;
    outline: none;
    border-radius: 5px;
    margin: 5px 0;
}
  
.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: #2FE6DE; /* Set the color of the thumb */
    border-radius: 50%;
    cursor: pointer;
}
  
.range-input::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background-color: #2FE6DE; 
    border-radius: 50%;
    cursor: pointer;
}
  
.range-input::-ms-thumb {
    width: 30px;
    height: 30px;
    background-color: #2FE6DE;
    border-radius: 50%;
    cursor: pointer;
}
  
@media (max-width: 300px) {
    .rad-btn {
        width: 70px;
        font-size: 11px;
    }
}

@media (max-width: 430px) {
    .ranges{
        padding-top: 40px;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

.macros-box {
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px #00CECB;
}

.macros-box:hover {
    box-shadow: 5px 4px 4px 0px #0ff1ee;
}

@media (max-width: 781px) {
    .ai-result{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .bar{
        display: none;
    }

    .food-container {
        flex-direction: column;
    }
}

@media (max-width: 853px) {
    .card{
        width: 100%;
    }

}

@media (max-width: 328px) {
    .macros-box{
        width: auto;
        min-width: 100px;
    }
}

@media (max-width: 360px) {
    .logo-text, .user{
        font-size: 14px;
    }


    .logo-btn {
        width: 50px;
    }
}

.notification {
    box-shadow: 2px 2px 4px 0px #00CECB;
    transition: left 1s ease-in-out;
    animation: moveLeft 1s ease-in-out;
}

@keyframes moveLeft {
    from {
        right: -100px;
    }
    to {
        right: 10px;
    }
}

